<div class="aviso-legal">
    <p>Este sitio web ha sido creado como parte de un proyecto académico para el curso de Codo a Codo full stack Python. No tiene fines comerciales. Agradecemos a <a href="https://www.paulinacocina.net/" target="_blank">Paulina Cocina</a> por la inspiración y por algunas imágenes, contenidos y recetas utilizados.</p>
</div>

<footer class="bg-dark text-white py-3 footerClass">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="m-0">Recetario- © 2024 sin registro</p>
        <div onclick="scrollToTop()" class="arrow-up">
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>
</footer>
<!-- Bootstrap JS y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Puedes incluir aquí scripts de JavaScript personalizados -->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>