<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecetarioWeb</title>
  
    <link rel="icon" href="{{url_for('static', filename='img/olla.png')}}" type="image/png"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> 

    <script src="{{url_for('static', filename='js/scripts.js')}}" defer></script>
</head>
