{% include 'defaults/head.html' %}

<body>

    {% include 'defaults/header.html' %}

    <div class="contenedor2 separador">
        <h1>¿Te gustaría estar el tanto de todas nuestras Novedades?</h1>
    </div>

    <section class="formulario">
        <h2 class="titulo-formulario">Suscribite a nuestro NewsLetter</h2>
        <form action="/new_contacto" method="POST">
            <div class="form-group">
                <label for="txtNombre">Nombre:</label>
                <input type="text" id="txtNombre" name="txtNombre" required>
            </div>
            <div class="form-group">
                <label for="txtEmail">Correo electrónico:</label>
                <input type="email" id="txtEmail" name="txtEmail" required>
            </div>
            <div class="form-group">
                <label for="txtMensaje">Mensaje:</label>
                <textarea id="txtMensaje" name="txtMensaje" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <br />
    </section>

    {% include 'defaults/footer.html' %}
    <!-- {% include 'defaults/scriptsjs.html' %} -->

</body>
</html>
