{% include 'defaults/head.html' %}

<body>

    {% include 'defaults/header.html' %}

    <main>
        <div class="contenedor2 separador">
            <h2>¡Bienvenidos a nuestro rincón gastronómico digital!</h2>
        </div>
        <section class="contenedor">
            <div class="contenido">
                
                <p>
                    Aquí en <strong>RecetarioWeb</strong>, estamos encantados de darles la más cordial bienvenida a todos los amantes de la cocina, ya sean expertos chefs o entusiastas novatos deseosos de explorar el mundo culinario.
                </p>
                <p>
                    En nuestro sitio, encontrarán un vasto repertorio de recetas que abarcan desde platos tradicionales hasta creaciones innovadoras. Nos enorgullecemos de ofrecer una amplia variedad de opciones para satisfacer todos los gustos, preferencias y niveles de habilidad en la cocina.
                </p>
                <p>
                    Nuestro objetivo es convertir la experiencia de cocinar en algo emocionante, creativo y, sobre todo, delicioso. Queremos inspirarlos a experimentar en la cocina, a descubrir nuevos sabores, y a compartir momentos inolvidables alrededor de la mesa con sus seres queridos.
                </p>
                <p>
                    Además de recetas, también encontrarán consejos útiles, técnicas culinarias y sugerencias para hacer que su experiencia en la cocina sea aún más gratificante y divertida.
                </p>
                <p>
                    Así que adelante, ¡explora, cocina y disfruta! Estamos aquí para acompañarlos en cada paso del camino en su viaje culinario. ¡Bienvenidos a la aventura gastronómica de <strong>RecetarioWeb</strong>!
                </p>
                
            </div>
            <div class="imagen">
                <img src="{{url_for('static', filename='img/promo.jpeg')}}" alt="Promo" class="img-fluid">
            </div>
        </section>
<div class="contenedor2">
        <img src="{{url_for('static', filename='img/olla.png')}}" alt="Cocineros" class="img-fluid mt-3">
</div>
        <section class="sectionWithBackground">
            <h2>Por qué es recomendable saber cocinar</h2>
            <p>Cocinar es una habilidad invaluable por varias razones:</p>
            <ul>
                <li>Ahorro de dinero: Cocinar en casa es generalmente más económico que comer fuera.</li>
                <li>Alimentación más saludable: Preparar tus propias comidas te permite controlar los ingredientes y las porciones.</li>
                <li>Desarrollo de habilidades: Cocinar te enseña sobre nutrición, técnicas culinarias y creatividad en la cocina.</li>
                <li>Socialización: Preparar comidas para amigos y familiares es una forma de compartir momentos especiales y crear vínculos.</li>
                <li>Satisfacción personal: Experimentar con recetas y ver el resultado de tu trabajo puede ser muy gratificante.</li>
            </ul>
            <p class="noMePisan">Estos son solo algunos de los beneficios de saber cocinar. ¡Así que no dudes en comenzar a aprender y disfrutar de esta maravillosa habilidad!</p>
        </section>
        <section class="sectionWithBackgroundA">

        </section>

        <section class="contenedor2">
            <h2>Y AHORA QUE YA SABES QUIENES SOMOS Y A LO QUE VINIMOS</h2>
            <div>
                <a href="/recetas" class="btn btn-primary btn-lg" id="btnAcocinar">¡A COCINAR!</a>
                <br /> 
                <img src="{{url_for('static', filename='img/cocineros.png')}}" alt="Cocineros" class="img-fluid mt-3">
            </div>
        </section>

    </main>

    {% include 'defaults/footer.html' %}
    <!-- {% include 'defaults/scriptsjs.html' %} -->

</body>
</html>
